{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="my-4 text-center">Sign Up</h1>
        <form action="{{ url_for('signup') }}" method="post" class="mx-auto" style="max-width: 400px;">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm your password" required>
            </div>
            <!-- Center the button -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary" style="width: 150px;">Sign Up</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer>
    <div class="container">
        <span>Created by Prasad Raju</span> |
        <span>Send an email to <a href="mailto:g.leelasaiprasadraju@gmail.com">g.leelasaiprasadraju@gmail.com</a> for queries</span> |
        <span>GitHub: <a href="https://github.com/iamprasadraju" target="_blank">iamprasadraju</a></span>
    </div>
</footer>
{% endblock %}
