{% extends 'base.html' %}

{% block title %}View Contacts{% endblock %}

{% block content %}
    <h1 class="mb-4">Contacts</h1>

    <!-- Search form -->
    <form method="get" action="{{ url_for('view') }}" class="mb-4">
        <div class="input-group">
            <input type="text" name="search" value="{{ search_query }}" class="form-control" placeholder="Search contacts">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <!-- Display contacts -->
    <ul class="list-group mb-4">
        {% for contact in all_contacts %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ contact[1] }} - {{ contact[2] }}
            <span class="d-flex">
                <a href="{{ url_for('edit', contact_id=contact[0]) }}" class="btn btn-warning btn-sm mr-2">Edit</a>
                <form method="post" action="{{ url_for('delete', contact_id=contact[0]) }}">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </span>
        </li>
        {% endfor %}
    </ul>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('view', search=search_query, page=current_page-1) }}">Previous</a>
            </li>
            {% for page_num in range(1, total_pages + 1) %}
            <li class="page-item {% if current_page == page_num %}active{% endif %}">
                <a class="page-link" href="{{ url_for('view', search=search_query, page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if current_page == total_pages %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('view', search=search_query, page=current_page+1) }}">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}
